:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(221, 221, 221);
    --table-border: rgb(194, 194, 194);
    --table-head-background-color: #a3a3a3;
    --table-head-color: white;
    --table-body-background-color-even: #e9e9e9;
    --code-color: #636363;
    --blockquote-background-color: #f8f8f8;
    --blockquote-color: #81858a;
    --h4-border-bottom-color: rgb(206, 206, 206);
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(80, 80, 80);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(48, 48, 48);
    --table-border: rgb(151, 151, 151);
    --table-head-background-color: #777777;
    --table-head-color: rgb(3, 4, 5);
    --table-body-background-color-even: #3a3a3a;
    --code-color: #858585;
    --blockquote-background-color: rgb(56, 56, 56);
    --blockquote-color: rgb(190, 190, 190);
    --h4-border-bottom-color: rgb(94, 94, 94);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}